<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-image: url('assets/img/bg.jpg'); height: 100vh; background-size: cover;" 
    class="bg-image">
    <div
    class="row align-items-center"
    style="min-height: 100vh">
        <div class="col-md-12">
            <h1 class="display-1 text-center bg-light">One Page Wonder</h1>
            <h1 class="display-4 text-center bg-light">Will knock your socks off</h1>
        </div>
    </div>
    </div>
</body>
</html>